#page-study #conteiner{
    width: 100vw;
    height: 100vh;
}
.page-header{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;

}
.page-header .top-bar-conteiner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.page-header .top-bar-conteiner a {
     height: 3.2rem;
     transition: opacity 0.2;
}
.page-header .top-bar-conteiner > img{
    height: 2.6rem;
}
.page-header .header-content{
    width: 90%;
    margin: 3.2rem auto;
    position: relative;
}
.page-header .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color
    : var(--color-title-in-primary);
}
.page-header .header-content p{
    width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color:var(--color-title-in-primary);
    margin-top: 2.4rem;
}

@media (min-width: 700px){
    #page-study #conteiner{
        width: 100vw;
    }
    .page-header{
        height: 340px;
    }
    .page-header .top-bar-conteiner{
        max-width: 1100px;
    }
    .page-header .header-content{
        max-width: 740px;
        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;justify-content: center;
        margin: 0 auto;
    }