<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos Online</title>
    <link rel="shortcut icon" href="/Imagens/favicon.png" type="image/png">>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">

</head>

<body id="page-landing">

    <div id="conteiner">

        <div class="logo-container"> 

            <img src="Imagens/logo.svg" alt="Proffy">
            <h2> Sua plataforma de estudos online</h2>

        </div> <!--logo-container-->

        <img class="hero-image" src="Imagens/landing.svg" alt="Plataforma de Estudos"> 

     <div class="buttons-containers">
         
        <a  class="study" href="study"> 
            <img src="Imagens/icons/study.svg" alt="Estudar">  
            Estudar        
        </a> <!--study-->

        <a  class="give-classes" href="/give-classes"> 
            <img src="Imagens/icons/give-classes.svg" alt="Dar Aulas">  
            Dar Aulas        
        </a> <!--sgive-classes-->
     </div> <!--buttons-conteiners-->

     <p class="total-connections">
        Total de 2000 conexões já realizadas

        <img src="Imagens/icons/purple-heart.svg" alt="Coração Roxo"
    </p> <!--total-connections-->

    </div>  <!--conteiner-->
     
</body> <!--page-landing-->

</html>